<div class="col-sm-6">
    <form action="/menu-items/create" method="POST" enctype="multipart/form-data">
        <input type="hidden" value="{{$event.id}}" name="event_id" />
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" name="name" type="text"/>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input class="form-control" name="description" type="text"/>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input class="form-control" name="price" type="text"/>
        </div>
        <div class="form-group">
            <label for="file">Thumbnail:</label>
            <input type="file" name="file"/>
        </div>
    </form>
</div>